.form-style-a {
  input, select, textarea {
    width:100%;
    height: 50px;
    border:1px solid #ddd;
    border-right:1px solid #ddd !important;
    background-color:#fff;
    color:#777;
    line-height: 50px;
    border-right: 0px;
    outline: none;
    padding: 0 15px;
    &::placeholder {
      color:#777;
    }
  }
  textarea {
    min-height:200px;
  }
}

